						<div id="presentacion_actividad_concepto_{{ concepto.detalle.id }}" class="label-relacionar concepto-a{% if concepto.relacion is not null %} relacionado{% endif %}" data-relacionaralumno-ida-param="{{ concepto.detalle.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Haz clic o arrastra." data-action="
							                    click->relacionaralumno#conceptoaclick
							                    dragstart->relacionaralumno#conceptoadragstart
							                    dragend->relacionaralumno#conceptoadragend
							                    " draggable="true">
							<button type="button" class="btn-close" aria-label="Close"></button>
							{{ concepto.detalle.dato | raw }}
						</div>