{% extends 'base_students.html.twig' %}

{% block title %}Edu-track - Asistencias
{% endblock %}
{% block bodytitle %}Tomando Asistencia...
{% endblock %}

{% block body %}
    <div class="alert alert-primary m-5 text-center" role="alert">
<i class="bi bi-clock"></i> Mantenga esta página abierta mientras el docente toma asistencia.
    </div>
{% endblock %}