{% extends 'base_users.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Registro
{% endblock %}
{% block bodytitle %}Registro
{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
    {% for r in registrationForm %}
        {{ form_row(r) }}
    {% endfor %}

<div class="text-center">
        <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
