<div class="pregunta_div" id="pregunta_div_%_pid_%">
	{% if not view %}
		<a id="eliminar_pregunta_%_pid_%" class="btn btn-danger btn-sm" title="Eliminar Pregunta" data-action="click->cuestionario#eliminarpreguntaclick" data-cuestionario-pid-param="%_pid_%">
			<i class="bi bi-trash-fill"></i>
		</a>
	{% endif %}
	<label class="form-label mt-2" for="detalle_preguntas_%_pid_%">Pregunta</label>
	<textarea name="detalle[preguntas][%_pid_%]" id="detalle_preguntas_%_pid_%" class="form-control" rows="4" {% if view %} disabled="disabled" {% endif %}>%_ptext_%</textarea>
	<div class="row">
		<div class="{% if view %}col-9{% else %}col-{% endif %}">Respuesta</div>
		<div class="col-3">Correcta</div>
		{% if not view %}
			<div class="col-2"></div>
		{% endif %}
	</div>
	%_resp_%
</div>

<div class="text-center mt-2">
	{% if not view %}<input type="button" value="Agregar Respuesta" data-action="click->cuestionario#agregarrespuestaclick" id="btn_agregar_respuesta_%_pid_%" data-cuestionario-pid-param="%_pid_%" class="btn btn-success">
	{% endif %}
</div>
