<div class="pareja_div" id="pareja_div_%_pid_%">
	<div class="row mb-3">
		<div class="col">
			{% if not view %}
				<a id="eliminar_pareja_%_pid_%" class="btn btn-danger btn-sm" title="Eliminar pareja" data-action="click->relacionar#eliminarparejaclick" data-relacionar-pid-param="%_pid_%" data-relacionar-rid-param="%_rid_%">
					<i class="bi bi-trash-fill"></i>
				</a>
			{% endif %}
			<div id="contenedor_texto_%_pid_%" class="d-inline %_ptexthidden_%">
				<label class="form-label mt-2 ms-1" for="detalle_parejas_%_pid_%">Concepto</label>
				<textarea %_ptextdisabled_% name="detalle[parejas][%_pid_%][%_pid_%]" id="detalle_parejas_%_pid_%" class="form-control" rows="4" {% if view %} disabled="disabled" {% endif %}>
					%_ptext_%</textarea>
			</div>
			<div id="contenedor_imagen_%_pid_%" class="d-inline %_pimghidden_%">
				<label class="form-label mt-2 ms-1" for="detalle_imagenes_%_pid_%">Imagen</label>
				<input %_pimgdisabled_% accept="image/*" class="form-control" type="file" name="detalle[imagenes][%_pid_%][%_pid_%]" id="detalle_imagenes_%_pid_%" data-action="change->relacionar#cambiararchivo" data-relacionar-id-param="%_pid_%">
				<img class="img-thumbnail thumb-relacionar" src="/uploads/relacionar/%_pfilename_%" alt="%_ptext_%" onerror="this.style.display='none'">
				<input type="text" value="%_pfilename_%" %_pimgdisabled_% name="detalle[parejas][%_pid_%][%_pid_%]" id="detalle_parejas_img_%_pid_%"{% if view %} disabled="disabled" {% endif %}>
			</div>
		</div>
		<div class="col">
			<div id="contenedor_texto_%_rid_%" class="d-inline %_rtexthidden_%">
				<label class="form-label mt-2" for="detalle_parejas_%_rid_%">Concepto Relacionado</label>
				<textarea %_rtextdisabled_% name="detalle[parejas][%_pid_%][%_rid_%]" id="detalle_parejas_%_rid_%" class="form-control" rows="4" {% if view %} disabled="disabled" {% endif %}>
					%_rtext_%</textarea>
			</div>
			 <div id="contenedor_imagen_%_rid_%" class="d-inline %_rimghidden_%">
				<label class="form-label mt-2 ms-1" for="detalle_imagenes_%_rid_%">Imagen Relacionada</label>
				<input %_rimgdisabled_% accept="image/*" class="form-control" type="file" name="detalle[imagenes][%_pid_%][%_rid_%]" id="detalle_imagenes_%_rid_%" data-action="change->relacionar#cambiararchivo" data-relacionar-id-param="%_rid_%">
				<img class="img-thumbnail thumb-relacionar" src="/uploads/relacionar/%_rfilename_%" alt="Imagen" onerror="this.style.display='none'">
				<input type="text" value="%_rfilename_%" %_rimgdisabled_% name="detalle[parejas][%_pid_%][%_rid_%]" id="detalle_parejas_img_%_rid_%"{% if view %} disabled="disabled" {% endif %}>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col">Tipo:&nbsp;
			<div class="form-check form-check-inline">
				<input %_ptextcheck_% class="form-check-input" type="radio" name="detalle[tipo][%_pid_%][%_pid_%]" id="tipo_texto_%_pid_%" value="0" data-action="change->relacionar#cambiartipo" data-relacionar-id-param="%_pid_%"{% if view %} disabled="disabled" {% endif %}>
				<label class="form-check-label" for="tipo_texto_%_pid_%">Texto</label>
			</div>
			<div class="form-check form-check-inline">
				<input %_pimgcheck_% class="form-check-input" type="radio" name="detalle[tipo][%_pid_%][%_pid_%]" id="tipo_imagen_%_pid_%" value="1" data-action="change->relacionar#cambiartipo" data-relacionar-id-param="%_pid_%"{% if view %} disabled="disabled" {% endif %}>
				<label class="form-check-label" for="tipo_imagen_%_pid_%">Imagen</label>
			</div>
		</div>
		<div class="col">Tipo:&nbsp;
			<div class="form-check form-check-inline">
				<input %_rtextcheck_% class="form-check-input" type="radio" name="detalle[tipo][%_pid_%][%_rid_%]" id="tipo_texto_%_rid_%" value="0" data-action="change->relacionar#cambiartipo" data-relacionar-id-param="%_rid_%"{% if view %} disabled="disabled" {% endif %}>
				<label class="form-check-label" for="tipo_texto_%_rid_%">Texto</label>
			</div>
			<div class="form-check form-check-inline">
				<input %_rimgcheck_%  class="form-check-input" type="radio" name="detalle[tipo][%_pid_%][%_rid_%]" id="tipo_imagen_%_rid_%" value="1" data-action="change->relacionar#cambiartipo" data-relacionar-id-param="%_rid_%"{% if view %} disabled="disabled" {% endif %}>
				<label class="form-check-label" for="tipo_imagen_%_rid_%">Imagen</label>
			</div>
		</div>
	</div>
</div>
