@import "~bootstrap";
@import "~bootstrap-icons";
@import 'tom-select/dist/css/tom-select.bootstrap5.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

/* Fuentes */
body {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'M PLUS Rounded 1c', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* @media */
@media (min-width:600px) {
    .cuerpo {
        padding: 20px;
    }


}

@media (max-width: 600px) {

    thead {
        font-size: 0.8em;
    }

    tbody,
    tfoot {
        font-size: 0.75em;
    }

    .cuerpo {
        padding: 10px 0px;
    }

    /* Checkbox yes no */
    .form-switch-hide {
        /*margin-right: 10px !important;
        width: 20px;
        height: 20px;
        margin: 0 !important;*/
        padding: 0 !important;
    }

    .form-switch-hide .form-check-input {
        /*margin-right: 10px !important;
        width: 20px;
        height: 20px;*/
        visibility: hidden;
        width: 0px !important;
        height: 0px !important;
        margin: 0 !important;
        padding: 0 !important;
        display: inline !important;
    }

    /* Checkbox yes no */
    input[type="checkbox"].sino {
        /*margin-right: 10px !important;
    width: 20px;
    height: 20px;*/
        margin-right: 0px !important;
    }
}

/* Checkbox yes no */
input[type="checkbox"].sino {
    margin-right: 10px !important;
    /*width: 20px;
height: 20px;*/
}

input.sino[type="checkbox"]:not(:checked)+label::after {
    content: '❌ No';
    color: #550000;
    cursor: pointer;
}

.nolink {
    color: #550000;
}

input.sino[type="checkbox"]:checked+label::after {
    content: "✔️ Sí";
    color: #005500;
    cursor: pointer;
}

.silink {
    color: #005500;
}

/*Turbo and Turbo Frames*/
html[data-turbo-preview] body img {
    visibility: hidden;
}

turbo-frame[busy] .frame-loading-hide,
turbo-frame .frame-loading-show {
    display: none;
}

turbo-frame[busy] .frame-loading-show {
    display: inline-block;
}

turbo-frame[busy] {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

/* Numeric Up Down */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
    margin-left: 10px;
}

/* Tables and fields */
tbody.detalles td {
    vertical-align: middle;
}

tbody.detalles div.mb-3 {
    margin: 0 !important;
}

input,
textarea {
    border-style: dashed !important;
}

input:required,
input.falserequired,
textarea:required,
textarea.falserequired {
    border-style: solid !important;
}

input .falsedisabled,
textarea .falsedisabled {
    background-color: #e9ecef;
}

/* Clases and Ids */
.dataTables_length {
    display: none;
}

.default-button-handler {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
    position: absolute;
}

.pagination {
    align-items: center !important;
    justify-content: center !important;
}

.thumb-relacionar{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.tooltip .thumb-relacionar{
    display: block;
    max-width: 150px;
    max-height: 150px;
    clear: both;
}

.label-relacionar{
    display: block;
    height: 210px;
    /* overflow: auto; */
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.label-relacionar-container{
    /* border: 1px solid red; */
    height: 210px;
    position: relative;
}

.label-relacionar .btn-close{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    pointer-events: none;
    font-size: 10px;
}

.relacionado{
    position: absolute;
    top: 0px;
    left: 50px;
    height: auto;
}

.relacionado .btn-close{
    display: block;
}
#formcurso .ts-control .item {
    display: block !important;
    width: 100% !important;
    margin-right: 35px !important;
}

#formcurso .ts-control .item .remove {
    float: right
}



/* Checkbox   
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #FFF;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
	transition: all .275s;
}
*/