@import "~bootstrap";
@import "~bootstrap-icons";
@import 'tom-select/dist/css/tom-select.bootstrap5.css';

input[type="checkbox"]:not(:checked) + label::after
{
    content: '❌ No';
    color: #550000;
}
.nolink{
    color: #550000;
}
input[type="checkbox"]:checked + label::after{
    content: "✔️ Sí";
    color: #005500;
}
.silink{
    color: #005500;
}

/*Turbo and Turbo Frames*/
html[data-turbo-preview] body img{
    visibility: hidden;
}


turbo-frame[busy] .frame-loading-hide, turbo-frame .frame-loading-show {
    display: none;
}
turbo-frame[busy] .frame-loading-show {
    display: inline-block;
}
turbo-frame[busy]{
    opacity: 0.5;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
    margin-left: 10px;
}

tbody.detalles td {
    vertical-align: middle;
}

tbody.detalles div.mb-3 {
    margin: 0 !important;
}

input,
textarea {
    border-style: dashed !important;
}

input:required,
input.falserequired,
textarea:required,
textarea.falserequired {
    border-style: solid !important;
}

.dataTables_length {
    display: none;
}

@media (min-width:600px) {
    .cuerpo {
        padding: 20px;
    }


}

@media (max-width: 600px) {

    thead {
        font-size: 0.8em;
    }

    tbody,
    tfoot {
        font-size: 0.75em;
    }
    .cuerpo {
        padding: 10px 0px;
    }
}

.default-button-handler {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
    position: absolute;
}

.pagination {
    align-items: center !important;
    justify-content: center !important;
}



/*checkbox*/

/* Box aspect */
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #FFF;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
	transition: all .275s;
}
