{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Asistencias{% endblock %}
{% block bodytitle %}Asistencia{% endblock %}

{% block body %}
    {{ include('alert.html.twig', with_context = true) }}

    {{ form(form) }}
    
    <a href="{{ path('app_asistencia') }}" class="btn btn-secondary">Volver</a>

{% endblock %}
