{% extends 'base_users.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edu-track - Actividades
{% endblock %}
{% block bodytitle %}Actividad
{% endblock %}

{% block body %}
	{{ include('alert.html.twig', with_context = true) }}

	{{ include('actividad/form.html.twig', with_context = true) }}

	{# {{form(form)}} #}
	<a href="{{ path('app_actividad') }}" class="btn btn-secondary">Volver</a>

{% endblock %}
